{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h", // Chỉ định pragma cho Preact
        "pragmaFrag": "Fragment" // (tùy chọn) Chỉ định pragma cho Fragment của Preact
      }
    ]
  ]
}
